.home {
  display: flex;
  flex-direction: column; /* Change to column to stack children vertically */
  justify-content: center;
  padding-top: 100px;
  font-size: 32px;
  color: white;
  align-items: center;
}

.home__header {
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; /* Keep this to stack the content vertically */
  gap: 30px;
  align-items: center;
  font-size: 32px;
  margin-top: 30px;
}
.box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; /* Keep this to stack the content vertically */
  text-decoration: none;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid white;
}

.box:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}

.box img {
  max-width: 100%;
  height: auto;
}

.loginwrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 10px;
  gap: 10px;
}

.loginwrapper a {
  text-decoration: none;
}

.loginwrapper span {
  align-self: center;
  margin-left: 5px;
}
